/******* IE.css ***********/

#warning {
  display: block;
  background-color: #ddd;
  color: black;
  text-align: center;
}

#warning a { color: black;}

#actions { display: none;}

#meca {
  background: url("../img/carbon.png");

}

#info {
  background: url("../img/red_pixel.png");

}

#languages {
  background: url("../img/wave.png");
}

#skills {
  background: url("../img/plus.png");
}

#activities {
  background: url("../img/drapp.png");
}
